# Applying Iterative Design Principles to a Live Product
Ot√°vio Leite Bastos

Data Product Management Nanodegree

Udacity

## Data Exploration

### Mounting Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

### Reading Data

In [ ]:
import pandas as pd

In [ ]:
events_df = pd.read_csv('/content/drive/MyDrive/DataProductManagerUdacityData/IterativeDesignPathProject/Flyber_event_logs.csv')

### Exploring Data

In [ ]:
events_df.head()

                             event_uuid  ...  event_type
0  b9e9489e-1218-4715-b42e-604e3745db07  ...        open
1  a4ff8e2c-2701-4a32-9029-bdf6efc155c5  ...  #_of_users
2  41b4f6b1-cc14-4c77-a520-50c1cb9cd592  ...      search
3  73b945e9-691e-4e63-aa4d-da2f74599388  ...        open
4  a070700c-8bd9-4b5a-9325-e029fda604c7  ...  #_of_users

[5 rows x 8 columns]

In [ ]:
events_df["date"] = pd.to_datetime(events_df["event_time"])

In [ ]:
events_df.columns

Index(['event_uuid', 'user_uuid', 'event_time', 'age', 'session_uuid',
       'experiment_group', 'user_neighborhood', 'event_type', 'date'],
      dtype='object')

In [ ]:
events_df.age.unique()

array(['40-49', '50+', '18-29', '30-39'], dtype=object)

In [ ]:
events_df.experiment_group.unique()

array(['experiment_1', 'control', 'experiment_2', 'experiment_3'],
      dtype=object)

In [ ]:
events_df.user_neighborhood.unique()

array(['Manhattan', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island'],
      dtype=object)

In [ ]:
events_df.event_type.unique()

array(['open', '#_of_users', 'search', 'begin_ride'], dtype=object)

In [ ]:
events_df.sort_values(by="date").date.unique()

array(['2019-10-05T10:55:01.000000000', '2019-10-05T10:55:08.000000000',
       '2019-10-05T10:55:10.000000000', ...,
       '2019-10-12T10:57:13.000000000', '2019-10-12T10:57:33.000000000',
       '2019-10-12T10:57:44.000000000'], dtype='datetime64[ns]')

*We can see that all events in the dataset take place in the same week simultaneously. A A/B/n, or a Multivariate Test, was performed.*

In [ ]:
len(events_df)

367083

In [ ]:
len(events_df.session_uuid.unique())/len(events_df.user_uuid.unique())

2.7729685986487977

In [ ]:
len(events_df.user_uuid.unique())

81557

*On average, roughly 1.6 sessions per users, so we cannot use event_uuid for funnel purposes, we should go with session_uuid.*

## Overall Conversion Impact of the Experiment

In [ ]:
def get_funnel_data(df):
  list_experiments = df.experiment_group.unique()
  for experiment in list_experiments:
    print('Experiment:', experiment)
    # ['open', '#_of_users', 'search', 'begin_ride'
    print('Count Event - Open:', len(df[(df.experiment_group == experiment) & (df.event_type == 'open')].session_uuid.unique()))
    print('Count Event - Search:', len(df[(df.experiment_group == experiment) & (df.event_type == 'search')].session_uuid.unique()))
    print('Count Event - Number of Users:', len(df[(df.experiment_group == experiment) & (df.event_type == '#_of_users')].session_uuid.unique()))
    print('Count Event - Begin Ride:', len(df[(df.experiment_group == experiment) & (df.event_type == '#_of_users')].session_uuid.unique()))

In [ ]:
get_funnel_data(events_df)

Experiment: experiment_1
Count Event - Open: 56390
Count Event - Search: 11300
Count Event - Number of Users: 23626
Count Event - Begin Ride: 23626
Experiment: control
Count Event - Open: 56390
Count Event - Search: 11323
Count Event - Number of Users: 23612
Count Event - Begin Ride: 23612
Experiment: experiment_2
Count Event - Open: 56688
Count Event - Search: 11581
Count Event - Number of Users: 23953
Count Event - Begin Ride: 23953
Experiment: experiment_3
Count Event - Open: 56687
Count Event - Search: 11299
Count Event - Number of Users: 23557
Count Event - Begin Ride: 23557

## User Research Data

In [ ]:
interview_df = pd.read_csv('/content/drive/MyDrive/DataProductManagerUdacityData/IterativeDesignPathProject/Flyber User Interviews.csv')

In [ ]:
interview_df

                 Name  ...           Where are you going when you use Flyber?
0         Fahim Burke  ...  Somewhere out of manhattan, like a cool underg...
1     Pharrell Campos  ...  Like I said, I'm always going to new places an...
2       Keelan Flores  ...  To check out a new property, or show a propert...
3   Kayleigh Mcintosh  ...  Usually I take flyber as a treat when I'm exha...
4   Kierran Blackburn  ...  Generally if a showing runs late, I will pull ...
5     Sapphire Dupont  ...        To the hospital where a patient is located.
6       Tanner Cherry  ...  All over! It is faster than driving and I don'...
7         Louis Jones  ...    Generally between business meetings in the city
8        Robbie Gates  ...  The one time I used Flyber, I was going to my ...
9        Esmae Wagner  ...  Usually to an important client dinner; Flyber ...
10    Charlie Johnson  ...  My wife and I love to visit friends all over N...

[11 rows x 7 columns]

In [ ]:
interview_df.columns

Index(['Name', 'Age', 'Profession', 'How Often Do You Use Flyber?',
       'What Do You Use When You Don't Use Flyber?',
       'What do you like about Flyber?',
       'Where are you going when you use Flyber?'],
      dtype='object')

In [ ]:
len(interview_df)

11

## References

https://medium.com/multiplyai/user-conversion-funnel-9d957ce3e80c